<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oldking.user.mapper.CourseMapper">
    <resultMap id="PCourse" type="com.oldking.user.domain.PCourse">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="teacher_id" jdbcType="VARCHAR" property="teacherId"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="url" jdbcType="TIMESTAMP" property="url"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
    </resultMap>

    <select id="listCourse"
            resultMap="PCourse">
        select c.*
        from course c
                 left join course_student cs on c.id = cs.course_id
        where c.start_time <![CDATA[<=]]> #{endTime}
          and c.end_time > #{startTime}
          and cs.student_id = #{studentId}
        order by c.id
    </select>

    <insert id="saveBatch">
        INSERT INTO course
        (name, content, `type`, start_time, end_time, teacher_id, image, url, create_time, create_user, update_time,
        update_user) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.name},#{item.content},#{item.type},#{item.startTime},#{item.endTime},#{item.teacherId},#{item.image},#{item.url},#{item.createTime},#{item.createUser},#{item.updateTime},#{item.updateUser})
        </foreach>
    </insert>
</mapper>
